@font-face {
  font-family: "LFT Etica Bold";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_Bold.WOFF");
  font-style: normal;
}

@font-face {
  font-family: "LFT Etica Italic";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_Italic.WOFF");
  font-style: normal;
}

@font-face {
  font-family: "LFT Etica Light";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_Light.WOFF");
  font-style: normal;
}

@font-face {
  font-family: "LFT Etica Regular";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_Reg.WOFF");
  font-style: normal;
}

@font-face {
  font-family: "LFT Etica Semibold";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_Semibold.WOFF");
  font-style: normal;
}

@font-face {
  font-family: "LFT Etica Bookitalic";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_BookItalic.WOFF");
  font-style: normal;
}

@font-face {
  font-family: "LFT Etica Lightitalic";
  src: url("https://res.cloudinary.com/hehe/raw/upload/v1550953111/cart-site/fonts/LFT_Etica_LightItalic.WOFF");
  font-style: normal;
}



