
html {
  min-height: 100%;
  overflow: visible;
  font-family: $font-light;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-size: 16px;
  
  @media(max-width: $desktopHd-min){
    font-size: 12px;
  }
 
  body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    padding-right: 0!important;
    width: 100%;
    padding-bottom: 330px;
    margin: 0;
  }

  &.removeOverflow {
    overflow: hidden !important;
  }

  a:focus,
  a:active,
  input:focus,
  input:active,
  select:focus,
  select:active {
    outline: none !important;
    box-shadow: none !important;
 }

 .error-message {
   color: $red-color;
   font-family: $font-light;
   font-size: 0.8rem;
   padding: 0.5rem 0 !important;
 }

 input[type] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    &.has-error {
      border: 1px solid $red-color !important;
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
  }
}

.feedback-message-container {
  text-align: center;
  border-radius: 0.4rem;
  height: 3rem;
  display: none;
  @include flexjustifycontent(center);
  @include flexalignitems(center);
  padding: 0 2rem;
  border-radius: 0.4rem;
  
  opacity: 0;
  transition: opacity .3s ease-in-out;
  h5 {
    text-align: center;
    font-family: $font-light;
    font-size: 0.8rem;
    color: $white-color;
  }

  &.show {
    @include flexbox;
  }

  &.fade-in {
    opacity: 1 !important;
  }

  &.success {
    background-color: $green-color;
  }

  &.error {
    background-color: $red-color;
  }
}

.waiting {
  //-webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transition: transform .8s ease-in;
  -moz-transition: transform .8s ease-in;
  -o-transition: transform .8s ease-in;
  backface-visibility: hidden;
  transition: transform .8s ease-in;
  transform: translateY(50px);
}

.animated {
  opacity: 1!important;
  transform: translate(0)!important;
}

.image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $loader-back;
  transition: visibility .2s ease-out;
  &.not-full {
    width: initial !important;
  }

  &.hidden {
    visibility: hidden !important;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity .3s ease-out; 
}

.img-loader {
  img {
    opacity: 0;
    transition: opacity .3s ease-in;
  }

  &.loaded {
    img {
      opacity: 1 !important;
    }
  }
}

.fade-in {
  opacity: 1;
  //background: rgba(117, 190, 218, 0);
}

// informs javascript on the state of the screen

/* default state */
#state-indicator {
  position: absolute;
  top: -999em;
  left: -999em;
  z-index: 1;

  &:before { 
    content: 'mobile-min';
    @media (max-width: $tabletS-min) {
      content: 'tablet-small'
    }

    @media (min-width: $tabletS-min + 1) {
      content: 'tablet'
    }

    @media (min-width: $desktop-min) {
      content: 'desktop';
    }

    @media (min-width: $desktopHd-min) {
      content: 'desktop-hd'
    }

  }

}
