.default-btn {
    font-size: 1.2rem;
    border: 1px solid $orange-color;
    font-family: $font-regular;
    border-radius: 0.6rem;
    list-style: none;
    text-decoration: none;
    color: $orange-color;
    font-weight: 400;
    transition: background-color .3s ease-in;
    width: 15rem;
    height: 3.75rem;
    @include flexbox;
    @include flexjustifycontent(center);
    @include flexalignitems(center);
    &:hover,
    &:active {
        outline: none;
        background-color: $orange-color;
        color: $white-color;
        text-decoration: none;
    }

    &:focus,
    &:active {
        outline: none !important;
        text-decoration: none !important;;
    }

    @media (min-width: $tabletS-min) {
        font-size: 1.5rem;
    }
}