/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/* responsiveness variables */

$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-min: 320;

// fonts
$font-path: "../../fonts";

$font-regular: "LFT Etica Regular";
$font-italic: "LFT Etica Italic";
$font-bold: "LFT Etica Bold";
$font-light: "LFT Etica Light";
$font-semi-bold: "LFT Etica Semibold";
$font-book-italic: "LFT Etica Bookitalic";
$font-light-italic: "LFT Etica Lightitalic";
// site colors

$gray-color: #1f1f1f;
$orange-color: #ff9800;
$second-gray-color: #707070;
$light-gray-color: #b0b5bf;
$white-color: #ffffff;
$loader-back: #fafafa;
$simple-container-back: #f7f7f7;
$red-color: #da3a3a;
$green-color: #299014;
$border-color: #f2f2f2;
$placeholder-color: #cccccc;

