.error-page-container {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden !important;
    margin: 0;

    .row {
        width: 100%;
        margin: 0;
    }

    .error-page-header {
        min-height: 7rem;
        max-height: 7rem;
        @include flexjustifycontent(space-between);
        padding: 1rem 2rem;

        .logo-container {
            position: relative;
            width: 6rem;
            height: 6rem;
            a {
                position: relative;
                display: block;
                width: 100%;
                padding-top: 99.82%;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
        .button-container {
            @include flexjustifycontent(flex-end);
            padding-top: 0.8rem;

            .homepage-link-btn {
                cursor: pointer;
                &:hover,
                &:focus {
                    border: 1px solid $orange-color;
                    text-decoration: none;
                }
            } 
        }

    }

    .error-message-container {
        min-height: calc(100vh - 7rem);
        max-height: calc(100vh - 7rem);
        @include flexjustifycontent(center);
        @include flexalignitems(center);

        .content {
            @include flexjustifycontent(center);
            @include flexalignitems(center);
            @include flexdirection(column);

            h5 {
                font-family: $font-bold;
                font-size: 1.875rem;
                line-height: 2.625rem;
                color: $gray-color;
                margin: 1rem 0;
                width: 100%;
                text-align: center;
            }

            p {
                width: 100%;
                text-align: center;
                font-family: $font-light;
                font-size: 1.125rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
                color: $second-gray-color;
            }

            a {
                color: $orange-color;
                font-family: $font-semi-bold;
                font-size: 1.875rem;
                line-height: 1.875rem;
                cursor: pointer;

                i {
                    font-size: 1.1rem;
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $gray-color;
                    outline: none;
                }
            }
        }

        
    }


}