.contact-us-container {
    background-color: $white-color;
    margin: 6rem 0;
    @media (min-width: $tablet-min) {
      margin: 0;
    }

    .onboarding-steps-container {
        @include flexjustifycontent(center);
        @include flexalignitems(center);
        @include flexdirection(column);
        .form-container {
            //max-width: 300px;
            padding: 2rem 0;

            width: 100%;
            max-width: 100%;

            @media (min-width: $tablet-min) {
              width: 40rem;
              max-width: 40rem;
            }

            input {
                width: 100%;
                height: 40px;
                border-radius: 0.375rem;
                background-color: $simple-container-back;
                border: 1px solid $simple-container-back;
                color: $gray-color;
                margin-bottom: 1rem;
                padding: 0 1rem;
                font-family: $font-regular;
                font-size: 1.5rem;
            }
            input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $placeholder-color;
                font-family: $font-light;
                font-size: 1.5rem;
              }
              input::-moz-placeholder { /* Firefox 19+ */
                color: $placeholder-color;
                font-family: $font-light;
                font-size: 1.5rem;
              }
              input:-ms-input-placeholder { /* IE 10+ */
                color: $placeholder-color;
                font-family: $font-light;
                font-size: 1.5rem;
              }
              input:-moz-placeholder { /* Firefox 18- */
                color: $placeholder-color;
                font-family: $font-light;
                font-size: 1.5rem;
              }

            .submit-button-container {
                @include flexjustifycontent(center);
                padding: 1rem 0;

                .submit-btn {
                    background-color: $orange-color;
                    color: $white-color;

                    &:hover,
                    &:active {
                        background-color: $white-color;
                        color: $orange-color;
                    }
                }

                
            }
        }
    }

    .onboarding-header-container {
      h5 {
        &:last-child {
          color: $gray-color;
          font-family: $font-light;
        }
      }
    }
    

}

