
.main-footer {
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 300px;
    background-color: $simple-container-back;
}
.contactSection{
    background: #eef0f4;

    .contactSubsection{
        max-width: 1200px;
        margin: 0rem auto;
        padding: 2rem;
    }
}
.contactInfoSection{
    width: 100%;
    padding: 0;

    @media (min-width: $tablet-min) {
        padding: 2rem 8rem;
    }
    .infotitle{
        font-family: $font-semi-bold;
        font-size: 1.2rem;
        line-height: 1.875rem;
        color: $gray-color;
    }
    .infoDetails{
        font-family: $font-regular;
        font-size: 1rem;
        line-height: 1.875rem;
        color: $gray-color;
        display: block;

        a {
            color: $second-gray-color;
            text-decoration: none;
            cursor: pointer;
            &:hover,
            &:active,
            &:focus {
                color: $orange-color;
            }
        }
    }
    .contInfo{
        margin: 0;
        width: 100%;
        @include flexbox;
        @include flexwrap(wrap);
        width: 100%;
        @include flexjustifycontent(space-between);
        padding: 2rem 1rem;

        @media (min-width: $tablet-min) {
            padding: 0;
        }

        .help {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
            @media (min-width: $tablet-min) {
                width: initial;
                text-align: left;
                margin-bottom: 0;
            }
        }
    }

    .socialMedia{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include flexjustifycontent(space-between);
        padding: 4rem 1rem 1rem 1rem;
        @media (min-width: $tablet-min) {
            padding: 4rem 6rem 1rem 6rem;
        }
        @media (min-width: $desktop-min) {
            padding: 4rem 20rem 1rem 20rem;
        }
        a {
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background: $white-color;
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(center);

            &:hover,
            &:focus {
                text-decoration: none;
                outline: none;
                background-color: $orange-color;
                span {
                    color: $white-color;
                }
            }

            @media (min-width: $tablet-min) {
                width: 4rem;
                height: 4rem;
            }
        }
        span{
            padding: 0.5rem;
            font-size: 1.5rem;
            color: $second-gray-color;
        }
    }
    
}
.topButton{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem;
    .topIcon{
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
        background: $orange-color;
        color: $white-color;
        border-radius: 0.3rem;
    }
}
.bottomLink{
    background: $gray-color;
    padding: 2rem;
    width: 100%;
    margin: 0;
    @include flexjustifycontent(space-between);
    @include flexalignitems(center);
    padding: 2rem 1rem;

    @media (min-width: $tablet-min) {
        padding: 2rem 12rem;
    }
    @media (min-width: $desktop-min) {
        padding: 2rem 22rem;
    }

    a {
        color: $white-color;
        font-size: 1.1875rem;
        font-family: $font-regular;
        line-height: 1.4375rem;
        transition: .3s color ease-in;
        &:hover,
        &:active {
            color: $orange-color;
            text-decoration: none;
            outline: none;
        }
    }
}