.maintenance-container {
    @include flexbox;
    width: 100%;
    margin: 0;
    @include flexjustifycontent(center);
    @include flexalignitems(center);
    @include flexdirection(column);
    height: 100vh;
    min-height: 100vh;
    h5 {
        font-family: $font-semi-bold;
        font-size: 2rem;
        color: $gray-color;
        width: 100%;
        text-align: center;
    }
    

    p {
        width: 100%;
        @include flexbox;
        @include flexjustifycontent(center);
        @include flexdirection(column);
        text-align: center;
        @include flexalignitems(center);
        margin: 0;
        padding: 1rem 0;
        font-family: $font-light;
        font-size: 1rem;
        color: $second-gray-color;

        a {
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            &:hover {
                border: 1px solid $orange-color;
            }
        }
    }
}