
.shop-container {
    width: 100%;
    margin: 0 0 8rem 0;
    padding: 0;
    @include flexdirection(column);

    @media(min-width: $tablet-min) {
        max-width: 1240px;
        margin: 0 auto;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .title-container {
        @include flexdirection(column);
        @include flexalignitems(center);

        h5 {
            font-family: $font-light;
            font-size: 1.6rem;
            line-height: 2.25rem;
            color: $gray-color;
            &:first-child,
            &:nth-child(2) {
                font-family: $font-semi-bold;
                font-size: 1.5rem;
                line-height: 1.5rem;
                color: $gray-color;
                @media(min-width: $tablet-min) { 
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                }
            }

            &:nth-child(3) {
                margin-top: 1rem;
                width: 100%;
                text-align: center;
            }
        }
    }

    .slide-container {
        width: 100%;
        padding-top: 3rem;
        min-height: 500px;
        max-height: 500px;

        @media (min-width: $tablet-min) {
            min-height: 300px;
            max-height: 300px;
        }

        @media (min-width: $desktop-min) {
            min-height: 500px;
            max-height: 500px;
        }
        .carousel {
            width: 100%;
            @include flexbox;
            //height: 100%;
            //padding: 0 1rem;
            .flickity-viewport {
                width: 100%;
                height: 100% !important;
                touch-action: pan-y !important;
            }

            .flickity-button {
                background-color: $orange-color;
                color: $white-color;
                border-radius: 6px;
                &:active,
                &:focus {
                    outline: none !important;
                }
            }
            .flickity-page-dots {
                bottom: -70px;
                display: none;
                @media(min-width: $tablet-min) {
                    display: block;
                    bottom: -65px;
                }
                @media (min-width: $desktop-min) {
                    display: block;
                    bottom: -18%;
                }
                .dot {
                    background-color: $white-color;
                    width: 20px;
                    height: 20px;
                    border: 2px solid #bbb;
                    opacity: .5;
                    transition: opacity 0.6s ease;

                    &.is-selected {
                        background-color: #f7f7f7;
                        border: 2px solid #bbb;
                        opacity: 1;
                    }
                }
            }
            .product-item-container {
                width: 100% !important;
                max-height: 500px;
                margin-right: 20px;
                position: relative;
                padding: 0 1rem;

                @media (min-width: $tabletS-min) {
                    width: 50% !important;
                    padding: 0;
                }

                @media(min-width: $tablet-min) {
                    width: 27% !important;
                    padding: 0;
                }
                &:hover {
                    .product-image-container {
                        img {
                            padding: 0 1rem;
                        }
                    }

                    .products-image {
                        span {
                            color: $orange-color !important;
                        }
                    }
                }
                .product-image-container {
                    position: relative;
                    width: 100%;
                    max-height: 31.25rem;
                    position: relative;
                    overflow: hidden;
                    // background-color: $simple-container-back; 
                    //padding-top: 128.205%;
                    padding-top: 119.205%;
                    //height: 500px;
                    a {
                        display: block;
                        width: 100%;
                        // border: 1px solid red;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        transition: padding .3s ease-in-out;
                        // height: 100%;
                        // object-fit: contain;
                    }
                }

                .products-image {
                    width: 100%;
                    max-width: 100%;
                    @include flexbox;
                    @include flexjustifycontent(space-between);
                    padding-top: 0.2rem;

                    span {
                        color: $gray-color;
                        font-family: $font-regular;
                        font-size: 1.25rem;
                        line-height: 2.5rem;
                        transition: color .3s ease-in-out;
                        @media (min-width: $tablet-min) {
                            font-size: 0.8rem;
                            line-height: 1rem;
                        }

                        @media(min-width: $desktop-min) {
                            font-size: 1.25rem;
                            line-height: 2.5rem;
                        }
                        &:last-child {
                            font-family: $font-semi-bold;
                        }
                    }
                }
            }
        }
    }

    .products-actions-container {
        margin: 0;
        @include flexjustifycontent(center);
        @include flexdirection(column);
        width: 100%;
        @include flexalignitems(center);
        padding: 0;

        @media(min-width: $tablet-min) {
            @include flexdirection(row);
            margin: 8rem 0;
            padding: 2rem 0;
        }

        a {
            margin-right: 0;
            margin-bottom: 1rem;

            @media(min-width: $tablet-min) {
                margin-right: 2rem;
                margin-bottom: 0;
            }
            border: 1px solid $orange-color;
            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
                @media(min-width: $tablet-min) {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }

            &.view-more-btn {
                background-color: $orange-color;
                color: $white-color;

                &:hover {
                    background-color: $white-color;
                    color: $orange-color;
                }
            }
        }

        position: relative;

        &:after{
            content: '';
            position: absolute;
            width: 80%;
            height: 1px;
            bottom: -4rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: $simple-container-back;
        }
    }

}

.carousel-indicators {
    bottom: -5rem;

    li {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $simple-container-back;
        background: $white-color;
        &.active {
            background: $simple-container-back;
        }
    }
}