.row-reset-styles {
    width: 100%;
    margin: 0;
}
.simple-content-container {
    @extend .row-reset-styles;
    background: $loader-back;

    &.containerized {
        padding: 4rem 0rem;
        @media (min-width: $tablet-min) {
            padding: 4rem 0rem;
        }
    }

    background-color: $simple-container-back;

    .row {
        @extend .row-reset-styles;
    }

    .onboarding-header-container {
        @include flexjustifycontent(center);
        @include flexalignitems(center);
        @include flexdirection(column);
        
        h5 {
            padding: 0;
            margin: 0;
            

            &:first-child {
               font-weight: 600;
               font-size: 3.125rem;
               line-height: 4.375rem;
               font-family: $font-semi-bold;
               color: $gray-color;
               text-transform: uppercase;
            }

            &:last-child {
                font-size: 1.5rem;
                font-family: $font-light;
                line-height: 2.5rem;
                color: $gray-color;
                margin-bottom: 1rem;
                width: 100%;
                text-align: center;
            }
        }
    }

    .onboarding-steps-container {
        .steps-content {
            @include flexjustifycontent(center);
            padding-top: 0;

            @media(min-width: $tablet-min) {
                padding-top: 2rem;
                @include flexjustifycontent(flex-end)
            }

            ul {
                list-style: none;
                padding: 2rem 0rem 2rem 0;
                border-right: 0;
                @media(min-width: $tablet-min) {
                    padding: 1rem 8rem 1rem 0;
                    border-right: 1px solid $gray-color;
                }
                li {
                    position: relative;
                    font-family: $font-regular;
                    color: $gray-color;
                    font-size: 1.2rem;
                    line-height: 2.5rem;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 1rem;
                        left: -1.3rem;
                        width: 0.5rem;
                        height: 0.5rem;
                        border-radius: 50%;
                        background-color: $gray-color;
                    }
                }
            }
        
        }
        .emphasize-container {
            @include flexdirection(column);
            padding: 3rem 0rem;

            @media (min-width: $tablet-min) {
                padding: 6rem 0rem;
            }

            @media (min-width: $desktop-min) {
                padding: 3rem 5rem;
            }

            h5 {
                font-family: $font-semi-bold;
                font-size: 1.5rem;
                line-height: 1.875rem;
                color: $gray-color;
                font-weight: 600;
                margin-bottom: 1rem;
                width: 100%;
                text-align: center;

                @media(min-width: $tablet-min) {
                    text-align: left;
                }
            }

            a {
                font-family: $font-semi-bold;
                font-size: 1.2rem;
                line-height: 1.2rem;
                color: $orange-color;
                text-align: center;
                cursor: pointer;

                i {
                    margin-left: 0.5rem;
                    &:before {
                        font-size: 1rem;
                    }
                }

                &:hover,
                &:focus{
                    text-decoration: none;
                    outline: none;
                    color: $gray-color;
                }

                @media(min-width: $tablet-min) {
                    text-align: left;
                }

                @media(min-width: $desktop-min) {
                    text-align: left;
                }
            }
        }

        .contact-container {
            h5 {
                font-size: 1.2rem;
                color: $gray-color;
                line-height: 2.5rem;
                font-family: $font-regular;
                font-weight: 600;
                margin: 0;
                padding-left: 0rem;
                width: 100%;
                text-align: center;

                @media (min-width: $tablet-min) {
                    width: 100%;
                    text-align: center;
                }

                @media (min-width: $desktop-min) {
                    text-align: left;
                    padding-left: 5rem;
                }
            }
            
        }
    }

}

.showcase-container {
    width: 100%;
    margin: 0;
    position: relative;
    margin-bottom: 6rem;

    .big-image-container {
        width: 100%;
        padding-top: 25.729%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .small-image-container {
        position: relative;
        padding-top: 14.287%;
        width: 100%;
        //height: 300px;
        max-height: 300px;

        img {
            position: absolute;
            left: 50%;
            width: 46%;
            transform: translateX(-50%);
            top: -4rem;

            @media(min-width: $tablet-min) {
                top: -17rem;
            }
        }
    }
}

.pricing-section {
    // background: #f1f2f4;
    width: 100vw;
    min-height: 100vh;
    font-size: 12px;
  
    .content-wrapper {
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
  
        .section-title {
            text-align: center;
            padding: 3rem 0;
            
            h3 {
                font-family: $font-bold;
                font-size: 2.5rem;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .table-content {
            table {
                width: 100%;
                thead {                            
                    th {
                        padding-bottom: 3rem;
                        font-size: 2rem;
                        &:nth-child(2) {
                            color: #807e7e;
                        }
                        &:nth-child(3) {
                            color: #2171b7;
                        }
  
                        &:nth-child(4) {
                            color: #e29404;
                        }
                        span {
                           display: block;
                           font-size: 1rem;
                       }
                   } 
                }
                tbody {
                    tr {
                        border-bottom: 1px solid #dbdbdb;
                        td {
                            padding: .8rem;
                            font-size: 15px;
                            color: #404040;
                            &:nth-child(1) {
                                font-family: $font-semi-bold;
                            }
                            span {
                                display: block;
                                font-family: $font-regular;
                                font-size: 10px;
                            } 
                        }
                    }
                }
            }
        }
        .button-container {
            padding: 3rem 0;
            text-align: center;
            @include flexbox;
            @include flexjustifycontent(center);
            a {
                @extend .default-btn;
                // color: black;
                // border: 1px solid;
                // border-radius: 4px;
                // padding: .8rem 3rem;
                // margin: 1rem;
                // font-size: 1.5rem;
                &:nth-child(1) {
                    background: $orange-color;
                    color: $white-color;
                    border-color: $orange-color;
                    margin-right: 0.5rem;
                    &:hover {
                        background: $white-color;
                        color: $orange-color;
                    }
                }
                &:nth-child(2) {
                    color: $orange-color;
                    &:hover {
                        color: $white-color;
                    }
                }
            }
        }
    }
  }