
.client-container {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 700px;
    padding: 0;
    margin: 0;

    &:after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        bottom: -8rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $simple-container-back;
    }

    @media (min-width: $tablet-min) {
        margin: 3rem 0 8rem 0;
    }
    .reset-pad {
        padding: 0;
    }
    .row {
        width: 100%;
        margin: 0;
    }
    .client-header-container {
        @include flexjustifycontent(center);
        h5 {
            padding: 0;
            margin: 0;
            font-family: $font-semi-bold;
            font-size: 2.5rem;
            line-height: 3.4375rem;
            color: $gray-color;
            padding: 1rem 0 3rem 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
    // .client-slide-container {
    //     width: 100%;
    //     margin: 0;
    //     height: 500px;
    //     max-height: 500px;
    // }
    #client-slide {
        width: 100%;
        // height: inherit;
        // max-height: 500px;
        // margin: 0 auto;
        height: 600px;
        max-height: 600px;
        @include flexbox;
        @include flexjustifycontent(center);
        @include flexalignitems(center);
        background-color: #f7f7f7;

        @media (min-width: $tablet-min) {
            height: 700px;
            max-height: 700px;
        }

        @media (min-width: $desktop-min) {
            height: 500px;
            max-height: 500px;
        }

        .carousel-inner {
            position: relative;
            width: 100%;
            height: inherit;
            overflow: visible;
            .carousel-item {
                position: relative;
                width: 100%;
                height: inherit;
                .testimony-item-container {
                    margin: 0;
                    width: 100%;
                    // max-height: initial;
                    // min-height: 500px;
                    height: inherit;
                    min-height: 100%;
                    padding-top: 0;

                    // @media(min-width) {
                    //     max-height: initial;
                    //     min-height: 500px;
                    // }

                    .testimony-client-image-container {
                        width: 100%;
                        position: relative;
                        //padding-top: 56.51%;
                        //min-height: initial;
                        //max-height: 500px;
                        overflow: initial;
                        //height: 100%;
                        height: 350px;
                        max-height: initial;

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            //width: 100%;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        @media (min-width: $tablet-min) {
                            height: 450px;
                            max-height: initial;
                        }

                        @media (min-width: $desktop-min) {
                            height: 500px;
                            max-height: 500px;
                            overflow: hidden;
                        }
                    }

                    .testimony {
                        @include flexjustifycontent(center);
                        //width: 30rem;
                        align-items: center;
                        padding: 0 0 0 0;
                        width: 100%;
                        position: relative;
                        flex-direction: column;
                        padding-top: 0;
                        //min-height: 30rem;
                        background-color: $simple-container-back;
                        overflow: auto;
                        height: 100%;
                        padding: 16rem 0;

                        @media(min-width: $tablet-min) {
                            padding: 12rem 0;
                        }

                        @media(min-width: $desktop-min) {
                            padding: 0;
                        }

                        .container-center {
                            position: absolute;
                            top: 43%;
                            width: 100%;
                            // border: 1px solid red;
                            /* height: 100%; */
                            transform: translateY(-50%);

                            @media (min-width: $tablet-min) {
                                width: 38rem;
                                top: 50%;
                            }
                        }
                        .client-company-name {
                            display: block;
                            font-family: $font-semi-bold;
                            color: $gray-color;
                            line-height: 1.875rem;
                            margin: 0 0 1rem 0;
                            text-transform: uppercase;
                            width: 100%;
                            text-align: center;
                            //font-size: 0.8rem;
                            font-size: 1.5rem;
                            //font-size: 1.2rem;
                            cursor: pointer;

                            // @media (min-width: $tablet-min) {
                            //     font-size: 1.5rem;
                            //     font-size: 1.2rem;
                            // }

                            &:hover,
                            &:focus,
                            &:active {
                                color: $orange-color;
                                text-decoration: none;
                            }
                        }

                        p {
                            font-family: $font-light;
                            //font-size: 1rem;
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                            width: 100%;
                            text-align: center;
                            color: $second-gray-color;
                            margin: 0 auto;
                            width: 24rem;

                            // @media (min-width: $tablet-min) {
                            //     font-size: 1.5rem;
                            //     width: 35rem;
                            // }
                        }

                        .client-name-container {
                            @include flexbox;
                            @include flexjustifycontent(center);
                            margin-top: 1rem;

                            span {
                                position: relative;
                                font-family: $font-semi-bold;
                                font-size: 1.1rem;
                                margin-right: 0.5rem;
                                &:first-child {
                                    color: $gray-color;
                                }
                                &:last-child {
                                    color: $second-gray-color;
                                    margin-right: 0;
                                    margin-left: 1rem;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: -1rem;
                                        width: 0.6rem;
                                        height: 1px;
                                        background-color: $second-gray-color;
                                    }
                                }

                                @media (min-width: $tablet-min) {
                                    font-size: 1.1rem;
                                }

                            }
                        }
                    }

                    
                }
            }
        }

        .carousel-indicators {
            bottom: -12rem;
            display: none;
            

            li {
                border: 2px solid #bbb;
                &:active {
                    background-color: #cccccc;
                }
            }

            @media (min-width: $tablet-min) {
                @include flexbox;
            }

            @media (min-width: $desktop-min) {
                @include flexbox;
                bottom: -12rem;
            }
            @media (min-width: $desktopHd-min) {
                @include flexbox;
                bottom: -10rem;
            }
        }

        .client-platform-image-container {
            display: none;
            width: 100%;
            position: absolute;
            // bottom: 30px;
            bottom: 0;
            right: 0;
            height: 20%;
            max-height: 100%;
            
            // padding-top: 11.52%;
            //max-height: 500px;
            z-index: 100;

            @media(min-width: $desktop-min) {
                display: block;
            }

            img {
                position: absolute;
                //bottom: -3rem;
                //height: 8rem;
                bottom: -8rem;
                height: 20rem;
                left: 50%;
                transform: translateX(-50%);

                @media(max-width: $desktop-min) {
                    height: 25rem;
                }
            }
        }
    }

}
