
.top-container {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include flexalignitems(stretch);

  .navbar {
    padding: 0rem 1rem;
    background-color: $white-color !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    max-height: 4rem;
    width: 100%;
    z-index: 2000000;
    background: $white-color;
    border-bottom: 1px solid $border-color;

    @media(min-width: $tablet-min) {
        border-bottom: 1px solid $border-color;
        height: 7rem;
        max-height: 7rem;
        padding: 0rem 3rem;
        position: fixed;
    }

    @media(min-width: $desktop-min) {
        padding: 0 8rem;
        position: fixed;
    }

    .navbar-toggler {
        border: 0;
        cursor: pointer;
        outline: none !important;
    }

    .menu-closer {
        position: absolute;
        right: 1.8rem;
        top: 2.5rem;
        display: none;
        cursor: pointer;
        outline: none;
        border: 0;
        background: $white-color;

        span {
            outline: none;
            border: 0;
        }

        &.show {
            display: block;
        }
    }

    .navbar-collapse {
        &.collapse {
            &.collapsing {
                position: absolute !important;
                top: 0 !important;
                left: 0 !important;
                width: 100% !important;
                height: 100vh !important;
                background: $white-color;
                z-index: 300;
                padding: 0;
                @include flexjustifycontent(center);
                @include flexalignitems(center);
            }
            &.prep {
                opacity: 0;
                transition: .3s ease-in-out;
            }

            &.show {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background: $white-color;
                z-index: 300;
                padding: 0;
                @include flexjustifycontent(center);
                @include flexalignitems(center);

                &.fade-in {
                    opacity: 1;
                }

                ul {
                    @include flexjustifycontent(center);
                    @include flexalignitems(center);
                    height: inherit;
                    max-height: inherit;

                    li {
                        margin-bottom: 1rem;
                        border-bottom: 1px solid $gray-color;
                        text-align: center;
                        padding: 1rem 0;
                        &:last-child {
                           border-bottom: 0; 
                           margin: 0.3rem 0 0 0rem;
                        }

                        a {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .navbar-brand {
        display: block;
        width: 5rem;
        height: 5rem;
        padding-top: 0.05rem;

        @media(min-width: $tablet-min) {
            width: 8rem;
            height: 8rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .navbar-nav {
        margin-left: auto !important;
        margin-right: 0 !important;
        li {
            &.nav-item {
                @include flexbox;
                @include flexjustifycontent(center);
                @include flexalignitems(center);
                cursor: pointer;
                a {
                    font-size: 1.1875rem;
                    color: $gray-color;
                    font-family: $font-semi-bold;
                    font-weight: 400;
                    padding-right: 2rem;
                    cursor: pointer;
                    transition: color .3s ease-in;
                    &:hover {
                        color: $orange-color;
                    }
                }
            }
            &:last-child {
                margin: 0.3rem 0 0 3rem;
                cursor: pointer;
            }
        }
    }
    
     .get-started-header-btn {
        @extend .default-btn;
        color: $orange-color;
        border: 1px solid $orange-color;
        cursor: pointer;
        &:hover,
        &:focus {
            color: $white-color;
            background-color: $orange-color;
            border: 1px solid $orange-color;
            text-decoration: none;
            outline: none !important;
        }
     }

  }

  .jumbotron-container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 7rem 0 0 0;
    @include flexwrap(wrap);
    @include flexalignitems(stretch);
    .row {
        margin: 0;
        width: 100%;
    }
    .center-container {
        padding: 0;
        height: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        height: 85%;
        @include flexalignitems(center);

        @media (min-width: $tablet-min) {
            @include flexalignitems(center);
        }
        @media (min-width: $desktop-min) {
            @include flexalignitems(center);
        }
        
        
        .attraction-text-container {
            height: initial;
            padding: 2rem 0 0 0;
            @include flexjustifycontent(center);

            @media (min-width: $tabletS-min) {
                padding: 0;
            }
            @media(min-width: $tablet-min) {
                //height: 400px;
                //padding: 2rem 0 0 3rem;
                padding: 0 0 0 3rem;
                @include flexjustifycontent(flex-start);
            }

            @media(min-width: $desktop-min) {
                //height: 600px;
                // padding: 9rem 0 0 8rem;
                padding: 0 0 0 8rem;
            }

            .text-container {
                @include flexdirection(column);
                margin-bottom: 2rem;

                // @media (min-width: $tablet-min) {
                //     margin-bottom: 0;
                // }

                h5 {
                    padding: 0;
                    margin: 0;
                    font-size: 2rem;
                    font-family: $font-bold;
                    color: $gray-color;
                    line-height: 1.8125rem;
                    margin-top: 0.5rem;
                    font-weight: 600;
                    text-align: center;

                    @media(min-width: $tablet-min) {
                        text-align: left;
                        font-size: 2.2rem;
                        line-height: 2.5rem;
                    }

                    @media(min-width: $desktop-min) {
                        font-size: 3.2rem;
                        line-height: 2.5rem;
                    }
                }
            }

            .join-text {
                padding: 0;
                //margin: 4rem 0 5rem 0;
                width: 100%;
                font-size: 1.5rem;
                color: $gray-color;
                font-family: $font-light;
                margin-bottom: 3rem;
                text-align: center;

                @media (min-width: $tabletS-min) {
                    margin-bottom: 1rem;
                }

                @media (min-width: $tablet-min) {
                    margin-bottom: 5rem;
                }

                @media(min-width: $tablet-min) {
                    font-size: 1.2rem;
                    //margin-bottom: 0;
                    text-align: left;
                }

                @media (min-width: $desktop-min) {
                    font-size: 1.7rem;
                }
            }

            .get-started-btn-container {
                @include flexjustifycontent(center);
                a {

                    &:first-child {
                        margin:  0 0.5rem 1rem 0;
                        @media (min-width: $mobile-min + 1) {
                            margin:  0 3rem 0 0;
                        }

                        @media (min-width: $tablet-min) {
                            margin:  0 1rem 1rem 0;
                        }
                    }

                    
                }

                @media (min-width: $tablet-min) {
                    @include flexjustifycontent(start);
                }

                .default-btn {
                    width: 12rem;
                    //margin: 0 2rem 0rem 0;
                    @media (min-width: $desktop-min) {
                        width: 15rem;
                    }
                }

                .get-started-btn {
                    color: $white-color;
                    border: 1px solid $orange-color;
                    background-color: $orange-color;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        color: $orange-color;
                        background-color: $white-color;
                        border: 1px solid $orange-color;
                        text-decoration: none;
                        outline: none !important;
                    }
                }
                .shop-online-btn {
                    @extend .default-btn;
                    color: $orange-color;
                    border: 1px solid $orange-color;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        color: $white-color;
                        background-color: $orange-color;
                        border: 1px solid $orange-color;
                        text-decoration: none;
                        outline: none !important;
                    }
                 }
            }


        }


        // @media (min-width: $desktopHd-min) {
        //     padding: 3rem 0;
        // }
    }

    .header-image-container {
        position: relative;
        // height: 300px;
        overflow: hidden;

        @media(min-width: $tablet-min) {
            // height: 400px;
        }

        @media(min-width: $desktop-min) {
            // height: 600px;
        }

        .image-container {
            position: relative;
            width: 100%;
            padding-top: 61.301%;
            max-height: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;

                @media (min-width: $tablet-min) {
                    left: 2rem;
                }
            }
        }
    }

    .actions-container {
        height: 15%;
        @include flexbox;
        @include flexjustifycontent(space-between);
        @include flexalignitems(center);
        padding: 0;

        @media (min-width: $tabletS-min) {
            display: none;

        }

        @media (min-width: $tablet-min) {
            @include flexbox;
            padding: 0 22%;
            background-color: $white-color;
        }

        // @media(min-width: $desktop-min) {
        //     //padding: 0 9rem;
        // }

        // @media(min-width: $desktopHd-min) {
        //     //padding: 0 26.5rem;
        // }

        .action-item {
            width: 100%;
            text-align: center;
            cursor: pointer;
            color: $gray-color;
            padding: 0;
            width: 100%;
            height: 3rem;
            @include flexbox;
            @include flexjustifycontent(center);
            @include flexalignitems(center);
            /* border: 1px solid red; */
            background: $simple-container-back;
            transition: color .0s ease-in;

            &:hover,
            &:focus {
                text-decoration: none;
                outline: none;
            }

            // @media(min-width: $tabletS-min) {
            //     width: 14rem;
            // }

            // @media(min-width: $tablet-min) {
            //     width: 19rem;
            // }

            // @media(min-width: $desktop-min) {
            //     width: 22rem;
            // }

            i  {
                transition: opacity .3s ease-in;

                &:last-child {
                    margin-left: 0;
                    display: none;
                    &.hide {
                        opacity: 0;
                    }
                    @media (min-width: $tablet-min) {
                        display: inline-block;
                        margin-left: 0.5rem;
                    }
                }
            }   
            h5 {
                margin: 0 0 0 0.5rem;
                padding: 0;
                font-weight: 600;
                font-family: $font-semi-bold;
                color: $gray-color;
                transition: color .0s ease-in;
                display: none;

                @media(min-width: $tabletS-min) {
                    display: block;
                }
            }
            &:hover {
                // h5 {
                //     color: $orange-color;
                // }

                i {
                    &:last-child {
                        opacity: 1;
                    }
                }
                
            }
        }

    }

  }
}

