.top-container {
    &.career-container {
        min-height: 100vh;
        overflow: auto;
        height: auto;
    }
}
.vacancy-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10rem 0 0;
    h5 {
        width: 100%;
        padding: 0;
        margin: 0 0 1.3rem 0;
        font-size: 1.5rem;
        font-family: $font-semi-bold;
        text-transform: uppercase;
        font-weight: 600;
        @include flexbox;
        @include flexalignitems(center);
        &.job-title {
            font-size: 1.7rem;
            color: $orange-color;
            margin-bottom: 3rem;
        }
    }

    ul {
        width: 100%;
        max-width: 60%;
        margin: 0;
        padding: 0 0 0 3rem;
        font-family: $font-light;
        font-size: 1.3rem;
    }

    p {
        width: 100%;
        max-width: 60%;
        margin-bottom: 1.2rem;
        font-size: 1.3rem;
        font-family: $font-regular;
        color: #1F1F1F;
    }

    .company-conclusion {
        @include flexbox;
        @include flexdirection(column);
    }

    .apply-btn {
        @extend .default-btn;
        margin-top: 2rem;
    }
    .row {
        width: 100%;
        margin: 3rem 0 0 0;
    }
}