.select2-container {
    width: 100% !important;
    margin-bottom: 1rem;
}

.select2-container--default .select2-selection--single {
    height: 40px;
    border: 1px solid $simple-container-back;
    border-radius: 0.375rem;
    font-family: $font-regular;
    font-size: 1rem;
    color: $second-gray-color;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding: 0 1rem;
    font-family: $font-regular;
    font-size: 1.5rem;
    color: $gray-color;
    background-color: $simple-container-back;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0.4rem;
}

.select2-selection__placeholder {
    color: $placeholder-color;
    font-family: $font-light;
    font-size: 1.5rem;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $placeholder-color;
}
.select2 .select2-container .select2-container--default .select2-container--below .select2-container--focus:focus {
    outline: none !important;
}
.select2 .select2-container .select2-container--default .select2-container--below .select2-container--open {
    outline: none !important;
}
.select2-container .select2-container--default .select2-container--open {
    outline: none !important;
}
.select2-dropdown .select2-dropdown--below {
    border: 0;
    border-top: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $gray-color;
    color: $white-color;
    font-family: $font-regular;
    font-size: 0.8rem;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: $white-color;
    color: $second-gray-color;
    font-family: $font-regular;
    font-size: 0.8rem;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid $second-gray-color;
    font-family: $font-regular;
    font-size: 0.8rem;
    color: $second-gray-color;
}

.select2-search--dropdown .select2-search__field {
    padding: 10px;
}
.select2-results__options {
    font-size: 0.8rem;
}

.select2-container--focus {
    &:focus,
    &:active {
        outline: none !important;
    }
}
.select2-container--below {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.select2-container--default {
    .select2-selection--single {
        &:focus,
        &:active {
            outline: none !important;
        }
    }

}

.selection {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.select2-dropdown {
    border: 0;
}