@font-face {
  font-family: 'icomoon';
  src:  url('https://res.cloudinary.com/hehe/raw/upload/v1551114001/cart-site/fonts/icons/icomoon.woff?kc3g4c');
  src:  url('https://res.cloudinary.com/hehe/raw/upload/v1551114001/cart-site/fonts/icons/icomoon.woff?kc3g4c#iefix') format('embedded-opentype'),
    url('https://res.cloudinary.com/hehe/raw/upload/v1551114001/cart-site/fonts/icons/icomoon.ttf?kc3g4c') format('truetype'),
    url('https://res.cloudinary.com/hehe/raw/upload/v1551114001/cart-site/fonts/icons/icomoon.woff?kc3g4c') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow:before {
  content: "\e909";
}
.icon-Bugger:before {
  content: "\e90a";
  color: #707070;
}
.icon-close:before {
  content: "\e90b";
  color: #707070;
}
.icon-angle-down:before {
  content: "\e900";
}
.icon-clients:before {
  content: "\e901";
}
.icon-facebook-logo:before {
  content: "\e902";
}
.icon-instagram-logo:before {
  content: "\e903";
}
.icon-linkedin-logo:before {
  content: "\e904";
}
.icon-start:before {
  content: "\e905";
}
.icon-testimonies:before {
  content: "\e906";
}
.icon-twitter-logo-silhouette:before {
  content: "\e907";
}
.icon-youtube-logo:before {
  content: "\e908";
}
